@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ScrubStack</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                    <span class="bi bi-shield-lock" aria-hidden="true"></span> Admin Panel
                </NavLink>
            </div>
        </AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/cards">
                    <span class="bi bi-card-list" aria-hidden="true"></span> Preference Cards
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink ActiveClass="nav-link" href="/cards/add">
                    <span class="bi bi-plus-square" aria-hidden="true"></span> Add New Card
                </NavLink>
            </div>
    </nav>
</div>
