@page "/cards/add"
@attribute [Authorize]

@using ScrubStack.Data
@using ScrubStack.Data.Models
@using Microsoft.EntityFrameworkCore
@using Blazorise
@inject ApplicationDbContext Db
@inject NavigationManager NavigationManager

<PageTitle>Add Preference Card</PageTitle>

<Layout>
    <Card>
        <CardHeader>
            <CardTitle>Add Preference Card</CardTitle>
        </CardHeader>

        <CardBody>
            <Validations @ref="validationsRef">
                <Fields>

                    <Field>
                        <Label>Surgeon Name</Label>
                        <TextEdit @bind-Text="card.SurgeonName" />
                    </Field>

                    <Field>
                        <Label>Procedure Name</Label>
                        <TextEdit @bind-Text="card.ProcedureName" />
                    </Field>

                    <Field>
                        <Label>Instrument Sets</Label>
                        <Select TValue="int"
                                Multiple="true"
                                SelectedValues="selectedSetIds"
                                SelectedValuesChanged="@OnSelectedValuesChanged">
                            @foreach (var set in allSets)
                            {
                                <SelectItem Value="@set.Id">@set.SetName</SelectItem>
                            }
                        </Select>
                    </Field>

                </Fields>

                <div class="mt-3">
                    <Button Color="Color.Primary" Clicked="@HandleValidSubmit">Submit</Button>
                </div>
            </Validations>
        </CardBody>
    </Card>
</Layout>

@code {
    private PreferenceCard card = new();
    private List<InstrumentSet> allSets = new();
    private List<int> selectedSetIds = new();
    private Validations? validationsRef;

    protected override async Task OnInitializedAsync()
    {
        allSets = await Db.InstrumentSets.ToListAsync();
    }

    private Task OnSelectedValuesChanged(IEnumerable<int> ids)
    {
        selectedSetIds = ids.ToList();
        return Task.CompletedTask;
    }

    private async Task HandleValidSubmit()
    {
        var selectedSets = await Db.InstrumentSets
            .Where(set => selectedSetIds.Contains(set.Id))
            .ToListAsync();

        card.InstrumentSets = selectedSets;

        Db.PreferenceCards.Add(card);
        await Db.SaveChangesAsync();
        NavigationManager.NavigateTo("/cards");
    }
}
