@page "/cards/add"
@attribute [Authorize]
@inject ApplicationDbContext Db
@inject NavigationManager NavManager
@using Microsoft.EntityFrameworkCore
@using Blazorise

<h3>Add Preference Card</h3>

<EditForm Model="card" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Surgeon Name</label>
        <InputText class="form-control" @bind-Value="card.SurgeonName" />
    </div>

    <div class="mb-3">
        <label class="form-label">Procedure Name</label>
        <InputText class="form-control" @bind-Value="card.ProcedureName" />
    </div>

    <div class="mb-3">
        <label class="form-label">Instrument Sets</label>
        <Multiselect TItem="InstrumentSet"
                     TValue="List<InstrumentSet>"
                     Data="@allSets"
                     bind-Value="selectedSets"
                     TextField="SetName"
                     ValueField="Id"
                     Placeholder="Select instrument sets..."
                     MaxSelectedItems="5" />
    </div>

    <button type="submit" class="btn btn-success">Add Card</button>
</EditForm>


@code {
    private PreferenceCard card = new();
    private List<InstrumentSet> allSets = new();
    private List<InstrumentSet> selectedSets = new();

    protected override async Task OnInitializedAsync()
    {
        allSets = await Db.InstrumentSets.ToListAsync();
    }

    private async Task HandleValidSubmit()
    {
        card.InstrumentSets = selectedSets;
        Db.PreferenceCards.Add(card);
        await Db.SaveChangesAsync();
        NavManager.NavigateTo("/cards");
    }
}
