@page "/cards/add"
@attribute [Authorize]

@using ScrubStack.Data
@using ScrubStack.Data.Models
@using Microsoft.EntityFrameworkCore
@using Blazorise
@inject ApplicationDbContext Db
@inject NavigationManager NavigationManager

<h3>Add Preference Card</h3>

<EditForm Model="card" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Surgeon Name</label>
        <InputText class="form-control" @bind-Value="card.SurgeonName" />
    </div>

    <div class="mb-3">
        <label>Procedure Name</label>
        <InputText class="form-control" @bind-Value="card.ProcedureName" />
    </div>

    <div class="mb-3">
        <label>Instrument Sets</label>
        <Select TValue="InstrumentSet"
                TItem="InstrumentSet"
                @bind-SelectedValues="selectedSets"
                Data="@allSets"
                TextField="SetName"
                ValueField="Id"
                Multiple="true"
                Class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Add Card</button>
</EditForm>

@code {
    private PreferenceCard card = new();
    private List<InstrumentSet> allSets = new();
    private List<InstrumentSet> selectedSets = new();

    protected override async Task OnInitializedAsync()
    {
        allSets = await Db.InstrumentSets.ToListAsync();
    }

    private async Task HandleValidSubmit()
    {
        card.InstrumentSets = selectedSets;
        Db.PreferenceCards.Add(card);
        await Db.SaveChangesAsync();
        NavigationManager.NavigateTo("/cards");
    }
}
